:root{
  --primary-color: #e50914;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width:100%;
}

/*Showcase style*/
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url('img/netflix-background.jpg') no-repeat center center/cover;
  padding-top: 20px;
}

.showcase::after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 100px 100px #000, inset -0px -100px 100px #000;
}

.showcase-top {
  position: relative;
  height: 90px;
  margin-left:56px;
  margin-right:56px;
  z-index: 2;
}

.showcase-top img{
  width: 134px;
  position: absolute;
  height: 36px;
  padding-top: 0.5rem;  
}

.showcase-top a {
  position: absolute;
  right: 0; 
}

.showcase-content {
  text-align: center;
  position: relative;
  justify-content: center;
  margin:2rem auto 0 auto ;
  z-index: 2;
}

.showcase-content h1 {
  font-size: 3.1rem;
  margin:auto;
  padding: 1rem 5rem;
}

.showcase-content h2 {
  color:#fff;
  font-size: 1.75rem;
  padding: 1rem ;
}
.showcase-content p {
  color:#fff;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* Email box style*/
.email-box {
  margin: 0 auto 2rem auto;
  z-index: 2;
  position: relative; 
 
}
.email-box p {
  font-size: 1.125rem;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.email {
  display: flex;
  z-index: 2;
  position: relative;
  padding: 1rem;
  justify-content: center;
 
}

.email-section {
  display: flex;
  height: 60px;
}

.email label {
  position: absolute;
  padding: 5px;
  font-size: 0.875rem;
  font-weight: 600;
  justify-content: flex-start;
}

.email-adress {
  padding: 1rem 2rem 0 1rem;
  font-size: 1rem;
  min-width: 640px;

}

/* Buttons*/

.btn {
  display:inline-block;
  background: #e50914;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn-xl i {
  font-size: 1.25rem;
  display: flex;
  color: #fff;
  padding: 0 0 0 0.5rem;

}

/* Info section*/

.info-section {
  display: block;
}

.section {
  display: flex;
  margin: 2rem 0 2rem 0;
  border-top: 0.5rem solid #222;
}

.text {
  margin: 3rem 2.5rem 1rem 2rem; 
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text p {
  color: #fff;
  font-size: 1.75rem;
}

.img-size {
  width: 50%;
}

.info-section img {
  padding: 1rem;
}
.watch-TV  {
  display: flex;
}

.download-fav {
  display: flex;
  flex-direction: row-reverse;
}

.watch-evr {
  display: flex;
}

/* QA content*/

.Q-A {
  border-top: 0.5rem solid #222;
  margin:0 auto;
  
}

.Q-A h1{
  font-size: 3rem;
  text-align: center;
  margin: 4rem 1rem;
}

.Q-A h3{
  font-size: 1.75rem;
  font-weight: 200;
}

.qa-block {
  display: block;
  margin-top: 0.5rem;
  background: #222;
  margin:0 auto;
  border-bottom:0.5rem solid #000;
  margin: 0 5rem;
  min-width:250px ;
  
}

.question {
  padding: 1rem 2rem;
  border-bottom:2px solid #000;
  display: block;
}

.question i{
  color:white;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}
.answear {
  padding: 1rem 2rem;
}

/*Footer*/
.footer {
  border-top:0.5rem solid #222;
  padding: 3rem 2rem 3rem 2rem;
}
.footer-grid {
  padding: 2rem 0 0 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
}
.footer p{
  padding-left: 2rem;
  font-weight: 200;
  color: #757577;
}
.footer a{
  color: #757577;
  font-size: 0.875rem;
  cursor: pointer;
}
.switch {
  padding: 1rem;
  border:1px solid #757577;
  background-color: #000;
  border-radius: 3px;
  color:#757577;
  font-size: 1.125rem;
  font-weight: 100;
}
.lang {
  padding: 2rem;
}

@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }
  .showcase-content h1 {
    font-size: 2rem;
  }
  .showcase-content h2 {
    font-size: 1.25rem;
    font-weight: 200;
  }
  .email-box{
  margin: auto;
  display: block;
  }
  .email{
  flex-direction: column;
   
  }
  .email-section {
  margin:auto;
  height: auto;
  }

  .btn-xl {
  display: flex;
  font-size: 1.25rem;
  margin: 1rem auto;
  width: 132px;
  }
  .email-box p {
    font-size: 1rem;
  }
  .text h1 {
    font-size: 2rem;
  }
  .text p {
    font-size: 1.25rem;
  }
  .Q-A h1 {
    font-size: 2rem;
  }
  .Q-A h3 {
    font-size: 1.25rem;
  }
  .email-adress {
    min-width: 450px;
   }
}

@media (max-width: 768px) {
  .watch-TV, .download-fav, .watch-evr{
    display:block;
    text-align: center;
  }
 .img-size{
   width: 75%;
 }
 .qa-block{
   margin: 0 3rem;
 }
 .email-adress {
  min-width: 385px;
 }

}